.Gallery {

  .GalleryItem {
    min-height: 250px;
  }

  .image, button, .loadingGradient {
    width: 100%;
    height: 100%;
  }

  .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.loadingGradient {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    opacity: 0.2;
  }
}
