$searchBarBackgroundColor: #fff;
$searchBarButtonColor: #93b4bc;
$searchBarIconColor: #1d4a87;
$searchBarButtonTextColor: #fff;

.SearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $searchBarBackgroundColor;
  border-radius: 100px;
  height: 50px;
  overflow: hidden;

  .icon {
    color: #1d4a87;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
  }

  input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: $searchBarBackgroundColor;
  }

  .button {
    background-color: $searchBarButtonColor;
    font-weight: 500;
    font-size: 1.2em;
    color: $searchBarButtonTextColor;
    flex: 1 1 auto;
    width: 60px;
    text-align: center;

    button {
      height: 50px;
      width: 60px;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }
    }
  }


  .loading svg {
    height: 35px;
    color: #fff;
    animation: loadingAnimation 1s linear 1s infinite;
  }

  @keyframes loadingAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}