// Backgrounds
$appContentBg: #e9edf6;

// Text colors
$primaryTextColor: #454664;
$primaryLinkColor: #93b4bc;

// Header vars
$headerLogoBackgroundColor:#fff;
$headerUserBackgroundColor:#93b4bc;

// Sidebar vars
$sidebarDividerColor: #e8f0f8;
$sidebarTextColor: #b8c5d3;
$sidebarBackgroundColor: #454664;

// Headings
$headingTextColor:#454664;

// Search Results
$listResultsTextPrimaryColor: #454664;
$listResultsTextSecondaryColor: #5b5b5b;
$listResultsBackgroundColor: #fff;
$listResultsIconColor: #93b4bc;

// Star Rating
$starRatingActiveColor: #e08d3a;
$starRatingHoverColor: #e5b687;